@font-face {
    font-family: Harry;
    src: url(./HarryP-MVZ6w.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

html {
    font-size: 24px;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Harry, Arial, sans-serif;
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}



h1 {
    font-size: 1.6rem;
    text-align: center;
}


p {
    font-size: 1rem;
    
}

.text {
    text-align: center;
}

.slider-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 40px 40px 40px 40px;
    grid-template-rows: 1fr 1fr;
}

.slider {
    width: 100%;
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

.slider-wrapper {
    width: 400%;
    display: flex;
}

.slide-item {
    width: 100%;
}

.slide-wrapper {
    width: 100%;
    margin: 0;
    background: url('images/back-image.jpg');
    background-size: cover;
}

.slide-wrapper img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.texts {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#button1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#button2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#button3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

#button4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}

input {
    font-size: 0;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: block;
    position: relative;
    outline: none;
    
}

input::before {
    position:absolute;
    content:'';
    top:-20px;
    right:-20px;
    left:-20px;
    bottom:-20px;
}

.slider-container > input:nth-of-type(1):checked ~ .slider .slider-wrapper {
    margin-left: 0;
}

.slider-container > input:nth-of-type(2):checked ~ .slider .slider-wrapper {
    margin-left: -100%;
}

.slider-container > input:nth-of-type(3):checked ~ .slider .slider-wrapper {
    margin-left: -200%;
}

.slider-container > input:nth-of-type(4):checked ~ .slider .slider-wrapper {
    margin-left: -300%;
}

