@font-face {
    font-family: Harry;
    src: url(./HarryP-MVZ6w.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

html {
    font-size: 24px;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Harry, Arial, sans-serif;
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}



h1 {
    font-size: 1.6rem;
    text-align: center;
}


p {
    font-size: 1rem;
    
}

.text {
    text-align: center;
}


.slider-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.slider {
    width: 100%;
    overflow: hidden;
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1;
}

.slider-wrapper {
    width: 400%;
    display: flex;
}

.slide-item {
    width: 100%;
}

.slide-wrapper {
    width: 100%;
    margin: 0;
    background: url('images/back-image.jpg');
    background-size: cover;
}

.slide-wrapper img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.buttons {
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1;
    z-index: 10;
    align-self: end;
    justify-self: end;
    margin: 24px 0;
}